<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAatuRopA2fNFwgWv1IyJGCyKUZ8o9lqFg</string>
	<key>GCM_SENDER_ID</key>
	<string>35295899385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforany.foodDelivery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>colorfuleffects-3cac2</string>
	<key>STORAGE_BUCKET</key>
	<string>colorfuleffects-3cac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35295899385:ios:701ff0da9d973aff5a3c28</string>
</dict>
</plist>